[submodule "api-manager-server"]
	path = server
	url = git@github.com:autostack-io/api-manager-server.git
[submodule "api-manager-client"]
	path = client
	url = git@github.com:autostack-io/api-manager-client.git
