[submodule "api-manager-server"]
	path = api-manager-server
	url = git@github.com:autostack-io/api-manager-server.git
[submodule "api-manager-client"]
	path = api-manager-client
	url = git@github.com:autostack-io/api-manager-client.git
